language: node_js
node_js:
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"
adfter_success:
  - 'coffee --compile --bare -p src/Enumeration.coffee |  browserify - --standalone Enumeration > dist/Enumeration.bd.js'
  - 'coffee --compile --bare -p src/Enumeration.coffee |  browserify - --standalone Enumeration | uglifyjs > dist/Enumeration.bd.min.js'
  - 'coffee --compile --bare -p src/Enumeration.coffee > dist/Enumeration.js'
